h3{
  text-align: center;
  margin: 0px;
  color: #03527D;
}
.list{
  /* display:flex;
  flex-direction: column; */
  border: 1px solid #E7E9EB;
  height: 350px;
  width: 300px;
  text-align: left;
  margin-bottom: 10px;
  background-color: #BAD5E4;
  border-radius: 12px;
  cursor: pointer;
}